temperature-raspberry/.idea/
temperature-raspberry/gradle/
temperature-raspberry/.gradle/
temperature-commons/.gradle/
temperature-commons/.idea/
temperature-commons/build/
temperature-commons/gradle/
temperature-raspberry/out/
temperature-computer/out/
temperature-computer/gradle/
temperature-computer/.idea/
temperature-computer/.gradle/
